<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopGen-Fashion</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/SHOP GEN.png">
</head>
<body>
    <nav id="nav">
        <div>
          <a href="index.html">
            <img src="/images/SHOP GEN.png" class="nav-img" alt="Error"/>
          </a>
        </div>
        <div class="nav_container">
              <a href="/index.html">HOME</a>
              <a href="#division-2">CATEGORIES</a>
              <a href="#division-3">ABOUT</a>
              <a href="#division4">ENTERTAINMENT</a>
            
        </div>
            <div class="nav-search">
                <input placeholder="  Search" class="search-input">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="tools">
                <a href="">
                <div class="accounts">
                    <i class="fa-regular fa-circle-user"></i>
                    Accounts
                </a>
                </div>
                <div class="wishlist">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            </div>
    </nav>
</body>
</html>